<div class="header1">
  <div class="container">
    <div class="header1-main Home">
      <span class="menu"><img src="./../../assets/images1/icon.png"/></span>
      <div class="header1-navg">
        <ul class="res">
          <li><a  href="index.html">HOME</a></li>
          
          <li><a routerLink="/page/about" routerLinkActive="Active" class="nav-link" >ABOUT US</a></li>
          <li><a [routerLink]="['/course']" routerLinkActive="Active" class="nav-link" >COURSES</a></li>
          <li><a href="clients.html">CLIENTS</a></li>
          <li><a routerLink="/json" routerLinkActive="Active" class="nav-link" >EMPLOYEE</a></li>
          <li><a routerLink="/contact" routerLinkActive="Active" class="nav-link" >CONTACT US</a></li>
      </ul>
       <script>
                                                   $( "span.menu").click(function() {
                                                                                     $(  "ul.res" ).slideToggle("slow", function() {
                                                                                      // Animation complete.
                                                                                      });
                                                                                      });
                                              </script>
      

        
      </div>
    </div>
  </div>

</div>



  
  
  <router-outlet></router-outlet>