<!-- <footer class="container">


  <p class="float-right"><a href="#">Back to top</a></p>
  <p>© 2020-2021 WebMaster, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer> -->


<div class="strip2"> </div>
<div class="contant1">
    <div class="container">
         <div class="contant1-main">
               <h3>Subscribe to our Job Seeker Mailing List</h3>
               <span class="search"> <input type="text" value="Enter Your Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email Address';}"/>

               <input type="submit" value=""></span>
          </div>
    </div>
</div>